.image-gallery {
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.image-gallery img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-btn-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
}

.prev-btn-container {
    left: -50px; 
}

.next-btn-container {
    right: -50px; 
}

.nav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 32px;
    color: #555;
}

.nav-btn:hover {
    color: #000;
}

.dot-container {
    margin-top: 10px;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

